@use "./Shared/variables" as v;
@use "./Shared/mixins" as *;
@use "./Shared/animations" as a;

.landing-loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: black;
  animation-name: fadeOut;
  animation-delay: 4s;
  animation-duration: 1s;

  svg, path, g {
    background: transparent;
  }

  .animate {
    width: 100vw;
    height: 150px;
    animation: glow 1.5s ease-in-out infinite alternate;
    position: absolute;
    z-index: 2;  
    background-color: transparent;
  }

  &.hide {
    display: none;
  }

  h1 {
    color: v.$light-purple;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    z-index: 1;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    margin: 0 10vw;
    text-align: center;
    display: none;

    @include screen-s {
      display: block;
      margin: 0 20vw;
      font-size: 3rem;
      // text-align: right;
    }

    &::before {
      content: '';
      background: black;
      position: absolute;
      height: 100%;
      width: 60%;
      animation-name: slideRevealFromTop;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      right: 0;
      bottom: 0;

      @include screen-s {
        animation-name: slideRevealFromLeft;
        width: 60%;
      }
    }
  }
}

// Animations 


@keyframes slideRevealFromLeft {
  0% {
    width: 100%;
    visibility: hidden;
  }
  100% {
    width: 0%;
    visibility: visible;
  }
}

@keyframes slideRevealFromTop {
  0% {
    height: 100%;
    visibility: visible;
  }
  100% {
    height: 0%;
    visibility: hidden;
  }
}

@keyframes slideUp {
  0% {
    bottom: 20vw;
  }
  100% {
    top: 80vw;
  }
}

@keyframes slideRight {
  0% {
    left: 20vw;
  }
  100% {
    left: 80vw;
  }
}

@keyframes appear {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes glow {
  from {
    filter: drop-shadow( 0 0 5px #77637c) drop-shadow( 0 0 15px #65007b) drop-shadow( 0 0 20px #c332f7) drop-shadow( 0 0 100px #edbaff);
  }

  to {
    
    filter: drop-shadow( 0 0 20px #77637c) drop-shadow( 0 0 25px #65007b) drop-shadow( 0 0 40px #c332f7) drop-shadow( 0 0 100px #edbaff);
  }
}