@use "./Shared/variables" as v;
@use "./Shared/mixins" as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: v.$light-purple;
  color: v.$black;
  font-family: 'Inter+Tight', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
.grid-4-col {
  display: grid;
  flex-direction: row;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  width: 100%;
  margin: auto;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }


  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;

  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
  }
}

.aside-filters  {
  display: grid;
  grid-template-columns: 1fr;

  @media only screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (min-width: 900px)  {
    grid-template-columns: 1fr;
    height: auto;
    box-sizing: border-box;
  }

  > * {
    margin: 5px;
  }
}

aside  {
  padding: 5px 10px;
  margin-top: 30px;

  h2, h3 {
    margin: 0 5px
  }

  .align-center {
    margin: 0 5px;
    justify-content: center;
    display: flex;
  }   
}

main {
  width: 90vw;

  @include screen-m {
    width: 80vw;
  }

  @include screen-l {
    width: 70vw;
  }
}

.favorites.main {
  margin: 0 20px 20px 20px;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  > * {
    margin: 10px;
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.sort {
    justify-content: space-between;
  }
}



.match {
  max-width: 350px;
  margin: auto;
}

.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  max-width: 1200px;

  @include screen-m {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    margin: auto;
    max-width: 100%;
  }
}

.layout-column {
  @include screen-m {
    position: fixed;
    left: 2vw;
    bottom: 50px;
  }
}

.section {
  width: 80vw;
  margin: auto;

  @include screen-m {
    width: 70vw;
  }
  @include screen-l {
    width: 50vw;
  }

  &:last-child {
    margin-bottom: 100px;
  }
}