@use "../Shared/variables" as v;
@use "../Shared/mixins" as *;

.section-header#about {
  + 
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
    @include screen-s {
      flex-direction: row;
      align-items: center;
  
      .text {
        margin: 0 20px;
        
      }
    }

    .text-block {
      margin-top: 0;
      padding-left: 20px;
      margin-left: 10px;
    }
  
    @include screen-s {
      .text-block {
        margin-left: -120px;
        padding-left: 124px;
      }
    }


    img  {
      width: 200px;
      max-width: 100%;
      z-index: 2;
    }
  }
}



