@use "../Shared/variables" as v;
@use "../Shared/mixins" as *;

#contact {
  width: 400px;
  max-width: 100%;
  border-radius: 20px;

  + .section-content {
    @include screen-m {
      flex-direction: column;
    }

    @include screen-l {
      flex-direction: column;
      align-items: center;
    }
  }
}

#contact-section {
  padding: 10px 20px 100px 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;

    .section-header {
      @include screen-m {
        padding-top: 0;
        
      }
    }

  @include screen-m {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 40px 100px 40px;
  }
}

#contact-form {
  display: flex;
  flex-direction: column;

  .mdc-text-field {
    margin: 20px 0;
  }
}