@use "../Shared/variables" as v;
@use "../Shared/mixins" as *;

.project-item {
  display: flex;
  max-width: 90vw;
  margin: 20px auto;
  padding-bottom: 20px;
  flex-direction: column;

  .material-symbols-outlined {
    font-size: 18px;
    position: relative;
    top: 3px;
  }

  span.work-item__time-frame {
    display: block;
  }

  .tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 14px;

    img.tool-card__image {
      height: 48px;
      width: 48px;
      padding: 6px;

      &:hover {
        width: 54px;
        height: 54px;
        padding: 3px;
      }
    }
  }

  .project-header {
    padding: 20px;
    padding-bottom: 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    flex-direction: column;

    .project-header-text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    h3 {
      color: v.$white;
    }

    .project-links {

      ul {
        margin: 0;
        display: flex; 
        flex-direction: row;

        li {
          list-style-type: none;
          padding-left: 0;

          a {
            font-size: 14px;
            width: 24px;
            display: flex;
            padding: 10px;
            margin: 5px;
            color: v.$white;
            border-radius: 100px;
            transition: all 0.3s ease-in-out;

            &.material-icon-link {
              padding-bottom: 5px;
              padding-left: 7px;
              padding-right: 11px;
            }

            .material-symbols-outlined {
              font-size: 28px;
              top: -2px;
            }

            &:hover {
              background-color: #ffffff50;
            }
          }
        }
      }
    }
  }

  .work-item__content {
    margin-right: 0;

    @include screen-s {
      margin-right: 30px;
      text-align: right;
    }
  }

  .work-item__bullets {
    padding-inline-start: 15px;
    text-align: left;
  }
}

.project-images {
  margin: -20px 10px 20px 10px;
  width: auto;
}

.project-images--app {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;

  @include screen-l {
    height: 550px;
  }
}

img.project-image.project-image--app {
  margin-left: -20px;
  position: relative;
  margin-right: -20px;
  border-radius: 10px;

  &:nth-of-type(1),
  &:nth-of-type(5) {
    display: none;

    @include screen-s {
      display: block;
      height: 260px;
      margin-top: 20px;
    }

    @include screen-m {
      height: 360px;
      margin-top: 20px;
    }

    @include screen-l {
      height: 460px;
      margin-top: 20px;
    }
    
  }

  &:nth-of-type(2),
  &:nth-of-type(4) {
    display: block;
    height: 280px;
    margin-top: 20px;
    z-index: 2;
    margin-top: 10px;

    @include screen-m {
      height: 380px;
      margin-top: 10px;
    }

    @include screen-l {
      height: 480px;
      margin-top: 10px;
    }
  }

  &:nth-of-type(3) {
    z-index: 3;
    height: 300px;

    @include screen-m {
      height: 400px;
    }

    @include screen-l {
      height: 500px;
    }
  }

  &:hover {
    height: 300px;
    margin-top: 5px;
    margin-left: -5px;
    z-index: 5;
    margin-right: -5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);

    @include screen-m {
      height: 400px;
      margin-top: -10px;
    }

    @include screen-l {
      height: 550px;
      margin-top: -25px;
    }
  }
}

.project-images--desktop {
  max-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  img.project-image.project-image--desktop {
    width: 45vw;
    max-width: 400px;
    margin-left: -50px;
    margin-right: -50px;

    &:hover {
      margin-left: -50px;
      margin-left: -50px;

      &:nth-of-type(1) {
        margin-left: -50px;
        box-sizing: content-box;
      }

      &:nth-of-type(3) {
        margin-right: -50px;
        box-sizing: content-box;
      }

    }

    @include screen-s {
      width: 50vw;
      max-width: 300px;
      margin-left: -60px;
      margin-right: -60px;

      &:hover {
        margin-left: -60px;
        margin-left: -60px;

        &:nth-of-type(1) {
          margin-left: -60px;
          box-sizing: content-box;
        }
  
        &:nth-of-type(3) {
          margin-right: -60px;
          box-sizing: content-box;
        }
  
      }
    }
    // @include screen-m {
    //   width: 50vw;
    //   max-width: 400px;
    //   margin-left: -150px;
    //   margin-right: -150px;
    // }
    
    &:nth-of-type(1),
    &:nth-of-type(3) {
      display: block;
      margin-top: 20px;
      z-index: 2;
      margin-top: 10px;

      @include screen-m {
        margin-top: 10px;
      }

      @include screen-l {
        margin-top: 20px;
      }
    }

    &:nth-of-type(2) {
      z-index: 3;

      @include screen-m {
      }

      @include screen-l {
      }
    }

    &:hover {
      margin-top: 5px;
      z-index: 5;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);

      @include screen-m {
        margin-right: -100px;
        margin-left: -100px;
      }

      &:nth-of-type(1) {
        @include screen-m {
          margin-left: -100px;
        }
        box-sizing: content-box;
      }

      &:nth-of-type(3) {
        @include screen-m {
          margin-right: -100px;
        }
        box-sizing: content-box;
      }

      @include screen-m {
        margin-top: -10px;
      }

      @include screen-l {
        margin-top: -25px;
      }
    }
  }
}