@use "../Shared/variables" as v;
@use "../Shared/mixins" as *;

.work-item {

  display: flex;
  max-width: 90vw;
  flex-direction: column-reverse;
  margin: 20px auto;
  padding-bottom: 20px;

  @include screen-s {
    flex-direction: row;
    align-items: center;
    max-width: 70vw;
  }

  .material-symbols-outlined {
    font-size: 18px;
    position: relative;
    top: 3px;
  }

  span.work-item__time-frame {
    display: block;
  }

  .tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 14px;
    border: 3px solid v.$dark-purple;
    border-top: none;
    padding: 20px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: 0 20px;

    @include screen-s {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      padding: 20px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      margin: 0;
      border-top: 3px solid v.$dark-purple;
    }

    @include screen-m {
      padding: 40px;
    }

    img.tool-card__image {
      height: 48px;
      width: 48px;
      padding: 6px;

      &:hover {
        width: 54px;
        height: 54px;
        padding: 3px;      
      }
    }
  }

  &:nth-of-type(even) {
    flex-direction: column-reverse;

    @include screen-s {
      flex-direction: row;
    }

    .work-item__content {
      margin-left: 0;

      @include screen-s {
        margin-left: 0px;
        // padding-left: 60px !important;
      }
    }

    .work-item__bullets {
      padding-inline-start: 15px;
    }

    .tools {
      @include screen-s {
        padding-right: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }

      @include screen-m {
        padding-right: 40px;
      }

      &.in-view {
        animation: slideInFromright 0.5s ease-in-out;
      }
    }
  }

  &:nth-of-type(odd) {
    flex-direction: column-reverse;

    @include screen-s {
      flex-direction: row-reverse;
    }
    

    .work-item__content {
      margin-right: 0;

      @include screen-s {
        text-align:right;
        margin-right: 0px;
        // padding-right: 60px !important;
      }
    }

    .work-item__bullets {
      padding-inline-start: 15px;
      text-align: left;
    }

    .tools {
      @include screen-s {
        padding-left: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
      }

      @include screen-m {
        padding-left: 40px;
      }

      &.in-view {
        animation: slideInFromLeft 0.5s ease-in-out;
      }
    }
  }

  .work-item__content.text-block {
    padding: 20px 40px;
    margin-bottom: 0;
    margin: 0;

    @include screen-s {
      margin-bottom: 10px;
    }

    h3, .work-item__time-frame, span {
      color: v.$light-purple;
    }

    h4 {
      color: v.$white;
    }
  }
}

@-webkit-keyframes slideInFromLeft {
  from {
    position: relative;
    left: -200px;
  }

  to {
    position: relative;
    left: 0;
  }
}
@keyframes slideInFromLeft {
  from {
    position: relative;
    left: -200px;
  }

  to {
    position: relative;
    left: 0;
  }
}

@-webkit-keyframes slideInFromRight {
  from {
    position: relative;
    right: -200px;
  }

  to {
    position: relative;
    right: 0;
  }
}
@keyframes slideInFromRight {
  from {
    position: relative;
    right: -200px;
  }

  to {
    position: relative;
    right: 0;
  }
}