h1 {
  font-size: 4.5em;
  line-height: 1.1;
  margin: 0;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-weight: 600;
  font-size: 2.4em;
}

h3 {
  font-size: 2.4em;
  line-height: 1.1;
  margin: 0;
  font-optical-sizing: auto;
  font-weight: 400;
}
